/****************************************************  VERSIONE DESKTOP  *************************************************************/

/**********************
    REGOLE GENERALI
***********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

body {
    background-color: rgb(222, 222, 222);
}

#header-pagina {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: "Nerko One", cursive;
    font-size: 4.5rem;
    color: orange;
    padding: 5px 20px;
}

h2 {
    color: #4E3969;
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    color: rgb(155, 153, 153);
    font-size: 1rem;
    font-weight: normal;
}

li {
    list-style-type: none;
}

/***************************
    CLASSI RIUTILIZZABILI
***************************/

/*! REGOLE FLEXBOX */
.flex-row {
    display: flex;
}

/*! OMBRE */
.shadow {
    box-shadow: 1px 1px white;
}

/*! TESTO */
.text {
    font-size: 1.2rem;
}

/*! SPAZIATURE */
.margin-bottom-5 {
    margin-bottom: 5px;
}

/*************************
    SEZIONI PRINCIPALI
**************************/

/*! CONTENITORE PAGINA */
.container {
    max-width: 80%;
    margin: 50px auto;
}

.container > * {
    margin-bottom: 15px;
}

/*! INTESTAZIONE CATEGORIA */
.h2-mobile {
    display: none;
}

/*! VIDEO + DESCRIZIONE RICETTA */
.item-col-sx {
    width: 70%;
}

.img-video-tiramisu {
    display: block;
    width: 100%;
}

.item-col-dx {
    width: 30%;
    height: auto;
    background-color: white;
}

.item-col-dx h3 {
    padding: 30px 20px 0;
}

.item-col-dx ul li {
    padding: 12px 20px;
}

/*! NAV SOCIAL */
.presentazione-ricetta h3 {
    font-weight: normal;
}

button {
    border: white;
    border-radius: 56px;
    padding: 10px 35px;
    margin: 20px 0;
}

.flex-row-nav-social {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.lista-social-tablet-smartphone {
    display: none;
}


/*! BANNER PUBBLICITARIO */
.img-banner {
    width: 100%;
    margin-bottom: 15px;
}

/*! PRESENTAZIONE RICETTA */
.border {
    border: 1.5px solid orange;
    width: 9%;
    margin: 10px 0 30px;
}

p {
    line-height: 1.8;       /* interlinea */
}

.img-float-tiramisu {
    float: left;
    width: 247px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

/*! FOOTER */
footer {

    /* Debug */
    width: 100%;
    min-height: 90px;
    background-color: #7C69A4;
}

/****************************************************  VERSIONE TABLET  *************************************************************/

/* todo VERSIONE TABLET */
@media screen and (max-width: 1019px) {

    /***************************
        CLASSI RIUTILIZZABILI
    ***************************/
        
    /*! REGOLE FLEXBOX */
    .flex-row {
        display: block;
    }


    /*************************
        SEZIONI PRINCIPALI
    **************************/
    
    /*! CONTENITORE PAGINA */
    .container {
        max-width: 90%;
    }

    /*! VIDEO + DESCRIZIONE RICETTA */
    .item-col-sx, .item-col-dx  {
        width: 100%;
    }

    .lista-in-breve {
        display: flex;
        flex-wrap: wrap;
    }

    .lista-in-breve li {
        flex-basis: calc(100% / 3);
    }

    /*! NAV SOCIAL */

    button {
        padding: 10px 60px;
    }

    .lista-social-desktop {
        display: none;
    }

    .lista-social-tablet-smartphone {
        display: flex;
    }

}
    

/**************************************************** VERSIONE SMARTPHONE *************************************************************/

/* todo VERSIONE SMARTPHONE */
@media screen and (max-width: 640px) {

    /**********************
        REGOLE GENERALI
    ***********************/
    h1 {
        text-align: center;
    }

    /*************************
        SEZIONI PRINCIPALI
    **************************/
        
    /*! CONTENITORE PAGINA */
    .container {
        max-width: 95%;
    }

    /*! INTESTAZIONE CATEGORIA */

    .h2-desktop {
        display: none;
    }

    .h2-mobile {
        display: block;
    }

    /*! VIDEO + DESCRIZIONE RICETTA */

    .lista-in-breve {
        display: block;
    }

    /*! NAV SOCIAL */

    button {
        padding: 8px 17px;
    }

    /*! BANNER PUBBLICITARIO */
    .img-banner {
        display: none;
    }

    /*! PRESENTAZIONE RICETTA */
    .img-float-tiramisu {
        float: none;
        display: block;
        margin:  auto;
    }
}