/**********************
    REGOLE GENERALI
***********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

body {
    background-color: rgb(211, 209, 209);
}

header {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: "Nerko One", cursive;
    font-size: 4.5rem;
    color: orange;
    padding: 5px 20px;
}



/**********************
       RESPONSIVE
***********************/
/* todo VERSIONE TABLET */
@media screen and (max-width: 1019px) {
    
}
/* todo VERSIONE SMARTPHONE */
@media screen and (max-width: 640px) {

    /**********************
        REGOLE GENERALI
    ***********************/

    /* html {
        font-size: 12px;
    } */

    h1 {
        text-align: center;
    }

}