/****************************************************  VERSIONE DESKTOP  *************************************************************/

/**********************
    REGOLE GENERALI
***********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    font-size: 13px;
}

body {
    background-color: rgb(222, 222, 222);
}

#header-pagina {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: "Nerko One", cursive;
    font-size: 4.5rem;
    color: orange;
    padding: 5px 20px;
}

h2 {
    color: #4E3969;
    font-size: 2.5rem;
}

h4 {
    color: rgb(155, 153, 153);
    font-size: 1rem;
    font-weight: normal;
}

/***************************
    CLASSI RIUTILIZZABILI
***************************/

/*! REGOLE FLEXBOX */
.flex-row {
    display: flex;
}

/*! SPAZIATURE */
.margin-bottom-5 {
    margin-bottom: 5px;
}

/*************************
    SEZIONI PRINCIPALI
**************************/

/*! CONTENITORE PAGINA */
.container {
    max-width: 80%;
    margin: 50px auto;

    /* Debug */
    /* background-color: rgb(210, 0, 147); */
}

.container > * {
    margin-bottom: 15px;
}

/*! INTESTAZIONE CATEGORIA */
.header-categoria-ricetta {

    /* Debug */
    width: 100%;
    min-height: 200px;
    background-color: rgb(255, 0, 64);
}

.h2-mobile {
    display: none;
}

/*! VIDEO + DESCRIZIONE RICETTA */
.video-descrizione-ricetta {

    /* Debug */
    width: 100%;
    min-height: 200px;
    background-color: rgb(76, 0, 255);
}

.item-col-sx {
    width: 70%;
    
    /* Debug */
    min-height: 200px;
    background-color: rgb(43, 255, 0);
}

.item-col-dx {
    width: 30%;

    /* Debug */
    min-height: 200px;
    background-color: rgb(180, 18, 171);
}

/*! SOCIAL */
.nav-social {

    /* Debug */
    width: 100%;
    min-height: 40px;
    background-color: rgb(255, 187, 0);
}

/*! BANNER PUBBLICITARIO */
.aside-banner {

    /* Debug */
    width: 100%;
    min-height: 80px;
    background-color: rgb(0, 146, 99);
}

/*! PRESENTAZIONE RICETTA */
.presentazione-ricetta {

    /* Debug */
    width: 100%;
    min-height: 200px;
    background-color: rgb(36, 171, 230);}

/*! FOOTER */
footer {

    /* Debug */
    width: 100%;
    min-height: 90px;
    background-color: #7C69A4;
}

/****************************************************  VERSIONE TABLET  *************************************************************/

/* todo VERSIONE TABLET */
@media screen and (max-width: 1019px) {

    /***************************
        CLASSI RIUTILIZZABILI
    ***************************/
        
    /*! REGOLE FLEXBOX */
    .flex-row {
        display: block;
    }



    /*************************
        SEZIONI PRINCIPALI
    **************************/
    
    /*! CONTENITORE PAGINA */
    .container {
        max-width: 90%;
    }

    /*! VIDEO + DESCRIZIONE RICETTA */
    .item-col-sx, .item-col-dx  {
        width: 100%;
}
    

/**************************************************** VERSIONE SMARTPHONE *************************************************************/

/* todo VERSIONE SMARTPHONE */
@media screen and (max-width: 640px) {

    /**********************
        REGOLE GENERALI
    ***********************/

    /* html {
        font-size: 12px;
    } */

    h1 {
        text-align: center;
    }

    /*************************
        SEZIONI PRINCIPALI
    **************************/
        
    /*! CONTENITORE PAGINA */
    .container {
        max-width: 95%;
    }

    /*! INTESTAZIONE CATEGORIA */
    .header-categoria-ricetta {

        /* Debug */
        width: 100%;
        min-height: 200px;
        background-color: rgb(255, 0, 64);
    }

    .h2-desktop {
        display: none;
    }

    .h2-mobile {
        display: block;
    }

}